<form
    [formGroup]="formdata"
    (ngSubmit)="onClickSubmit()"
    name="form"
    novalidate>
    <div class="form-row">
        <label for="firstname">First Name: </label>
        <input type="text" name="firstname" formControlName="firstname">
    </div>
    <div class="form-row">
        <label for="lastname">Last Name: </label>
        <input type="text" name="lastname" formControlName="lastname">
    </div>
    <div class="form-row">
        <label for="emailAdress">Email: </label>
        <input type="text" name="emailAdress" formControlName="emailAdress" style="width:300px">
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>