<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">About this application</h1>
    <p>
      This application was produced for the subject 'Clientside web frameworks' from Avans Hogeschool Breda
    </p>
    <h3>MyKeyShop</h3>
    <p>
      On this website you can find games redeem keys for them
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets\images\pp.jfif"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Wessel Kuijstermans</h5>
        <p class="card-text">Studentnumber: 2166881</p>
      </div>
    </div>
  </div>
</div>

<h3>Entities</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Game</p>
    <ul>
      <li>id: number</li>
      <li>title: string</li>
      <li>developer: string</li>
      <li>publisher: string</li>
      <li>rating: number</li>
      <li>agecategory: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Key</p>
    <ul>
      <li>keyvalue: string</li>
      <li>redeemed: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Order</p>
    <ul>
      <li>key: Key</li>
      <li>game: Game</li>
      <li>purchasedate: date</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <img src="assets/images/datamodel.jpg" alt="..." />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>
</div>
